# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/*settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore CiviCRM Extension cache
profiles/compuclient/modules/civicrm/ext/cache/*
sites/all/civicrm_extensions/cache/*
